<div class="container-fluid" ng-controller="profileController">
    <nav class="navbar navbar-default">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" >Profile</a>
                </div>
                <br>



            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->


    </nav>

    <div ng-show="model.message" class="alert alert-success">
        {{model.message}}
    </div>



    <b>
        <label for="Username">Username</label>
    </b>
    <input class="form-control"
           id="Username"
           type="text"
           ng-model="model.user.username"
           readonly
           value="jannunzi"/>
    <br>

    <b>
        <label for="Email">Email</label>
    </b>
    <input type="email"
           class="form-control"
           id="Email"
           placeholder="jannunzi@gmail.com"/>

    <br>

    <b>
        <label for="First Name">First Name</label>
    </b>
    <input type="text"
           class="form-control"
           id="First Name"
           ng-model="model.user.firstName"
           placeholder="Jose"/>

    <br>

    <b>
        <label for="Last Name">Last Name</label>
    </b>
    <input type="text"
           class="form-control"
           id="Last Name"
           ng-model="model.user.lastName"
           placeholder="Annunziato"/>



    <br>



    <a class="btn btn-default btn-block btn-primary"
       href="#!/user/{{model.user._id}}/website"
       role="button">Websites</a>

    <a class="btn btn-default btn-block btn-danger"
       href="#!/login"
       role="button">Logout</a>

        <a class="btn btn-default btn-block btn-danger"
           ng-click="model.unregister(model.user)"
           role="button">Unregister</a>

        <a class="btn btn-default btn-block btn-primary"
           ng-click="model.updateUser(model.user)"
           role="button">Update</a>




    <nav class="navbar navbar-default navbar-fixed-bottom container-fluid">
        <div class="container">
        </div>
        <br>
        <a href="profile.view.client.html">
        <span class="white-class glyphicon glyphicon-user pull-right" aria-hidden="true"></span>
        </a>
    </nav>





</div>

