
<body>

<div ng-show="model.error" class="alert alert-danger">
    {{model.error}}
</div>

<div class="container-fluid">
    <h1>Register</h1>
    <br>

    <div class = "textbox-style">
    <label for="username">Username</label>
    <input name ="username"
           ng-model="user.username"
           class="form-control"
           type="text"
           id="username"
            placeholder="alice"/>

    <br>

    <label for="password">Password</label>
    <input name ="password"
           ng-model="user.password"
           type="password"
           class="form-control"
           id="password"
            placeholder="pdr$%^G"/>

    <br>

    <label for="verify password">Verify Password</label>
    <input name ="verify password"
           ng-model="user.password2"
           type="password"
           class="form-control"
           id="verify password"
            placeholder="pdr$%^G"/>
    </div>
    <br>

    <div class="btn-style">
    <a class="btn btn-default btn-block btn-primary"
       ng-click="model.registerUser(user)"
       role="button">Register</a>
        <br>

    <a class="btn btn-default btn-block btn-danger"
       href="#!/login"
       role="button">Cancel</a>
    </div>

</div>
</body>
</html>