<div class="jga">
    <div class="container-fluid">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-brand">

                    <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                        <span class="pull-left glyphicon glyphicon-chevron-left"></span></a>
                    &nbsp
                    Choose Widget
                </div>
            </div>


        </nav>

        <ul class="list-group">
            <a href = "#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.widgetId}}">

                <li class="list-group-item">Header
                </li></a>

            <li class="list-group-item">Label
            </li>

            <li class="list-group-item">HTML
            </li>

            <li class="list-group-item">Text Input
            </li>

            <li class="list-group-item">Link
            </li>

            <li class="list-group-item">Button
            </li>

            <a href="widget-IMAGE.view.client.html">
                <li class="list-group-item">Image
                </li></a>

            <a href="widget-YOUTUBE.view.client.html">
                <li class="list-group-item">YouTube
                </li></a>

            <li class="list-group-item">Data Table
            </li>

            <li class="list-group-item">Repeater
            </li>

        </ul>

        <nav class="navbar navbar-default navbar-fixed-bottom container-fluid">
            <div class="container">
            </div>
            <br>
            <a href="#!/profile/{{model.userId}}">
                <span class="glyphicon glyphicon-user pull-right" aria-hidden="true"></span>
            </a>
        </nav>





    </div>
</div>

