<div class="jga">

<div class="container-fluid">
    <div ng-show="model.error" class="alert alert-danger">
        {{model.error}}
    </div>
    <label for="name">Name</label>
    <input class="form-control"
           ng-model="model.widget.type"
           id="name"/>
    <br>

    <label for="text">Width</label>
    <input class="form-control"
           ng-model="model.widget.width"
           id="text"/>
    <br>
    <label for="url">URL</label>
    <input class="form-control"
           ng-model="model.widget.url"
           id="url"/>
    <br>


    <br>
    <form action="/api/assignment/upload"   method="post" enctype="multipart/form-data">
        <input  name="myFile"    type="file" class="form-control"/>
        <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
        <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
        <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
        <input  name="widgetId"  value="{{model.widget._id}}"   style="display: none"/>
        <button type="submit"    class="btn btn-block btn-primary">Upload Image</button>
    </form>
    <br>

    <a ng-click="model.updateWidget()"
       class="btn btn-block btn-primary">
        Update
    </a>
    <br>
    <a ng-click="model.deleteWidget()" class="btn btn-block btn-danger">Delete</a>


</div>
</div>



