

<div class="container-fluid">
<div class="textbox-style">
    <label for="name">Name</label>
    <input name ="Name"
           class="form-control"
           id="name"
           ng-model="model.widget.name"
    />
    <br>

    <label for="text">Text</label>
    <input name ="text"
           class="form-control"
           id="text"
           ng-model="model.widget.text"

    />
    <br>



    <label for="url">URL</label>
    <input name ="Name"
           class="form-control"
           id="url"
           ng-model="model.widget.url"
           placeholder="https://www.youtube.com/channel/UCCgliN1n-OaiYJbZV8gypNA"
    />
    <br>

    <label for="width">Width</label>
    <input name ="width"
           class="form-control"
           id="width"
           ng-model="model.widget.width"

    />
</div>
<br>


<div class="btn-style">
    <a class="btn btn-default btn-block btn-danger"
       ng-click="model.deleteWid(model.widget)"
       role="button">Delete</a>
</div>
</div>

