<div class="container-fluid" ng-controller="profileController">
    <nav class="navbar navbar-default">
            <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Profile</a>
                </div>
                <br>


                <a href="profile.html">
                    <span class="glyphicon glyphicon-ok white-class pull-right "></span></a>
            </div>


            <!-- Collect the nav links, forms, and other content for toggling -->


    </nav>

    <div class = "textbox-style">
    <b>
        <label for="Username">Username</label>
    </b>
    <input class="form-control"
           id="Username"
           type="text"
           ng-model="user.username"
           readonly
           value="jannunzi"/>
    <br>

    <b>
        <label for="Email">Email</label>
    </b>
    <input type="email"
           class="form-control"
           id="Email"
           placeholder="jannunzi@gmail.com"/>

    <br>

    <b>
        <label for="First Name">First Name</label>
    </b>
    <input type="text"
           class="form-control"
           id="First Name"
           ng-model="user.firstName"
           placeholder="Jose"/>

    <br>

    <b>
        <label for="Last Name">Last Name</label>
    </b>
    <input type="text"
           class="form-control"
           id="Last Name"
           ng-model="user.lastName"
           placeholder="Annunziato"/>

    </div>

    <br>


    <div class="btn-style">
    <a class="btn btn-default btn-block btn-primary"
       href="websites-list.html"
       role="button">Websites</a>
        <br>

    <a class="btn btn-default btn-block btn-danger"
       href="login.html"
       role="button">Logout</a>
    </div>



    <nav class="navbar navbar-default navbar-fixed-bottom container-fluid">
        <div class="container">
        </div>
        <br>
        <a href="profile.html">
        <span class="white-class glyphicon glyphicon-user pull-right" aria-hidden="true"></span>
        </a>
    </nav>





</div>

